body{
    background-color: var(--azulEscuro);
    margin:0;
    padding: 0;
}

.undo-button {
    width: 30px;
    height: 30px;
}

h2 {
    text-align: center;
}

.login-container {
    background-color: var(--amareloClaro);
    margin: 14% auto;
    text-align: left;
    font-size: 3ex;
    max-width: 465px;
    border-radius: 20px;
    padding: 30px;
}

.form-input {
    padding: 10px 0px;
}

label {
    padding-right: 10px;
    width: 120px;
    display: block;
    float: left;
}

input {
    border-radius: 10px;
}

input::placeholder {
    padding-left: 10px;
    font-size: 16px;
}

.button_container{
    margin: 20px;
    display: inline-block;
}

.input_name{
    margin: 0;
}