.button{
    background-color: var(--amarelo);
    padding: 7px 17px;
    border-radius: 20px;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: var(--amareloClaro);
    transition: 0.3s;
  }
