.container-frontpage{
    margin: 8% auto;
    padding: 60px 30px;
    text-align: center; 
    max-width: 900px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.content-container {
    color: var(--branco);
    padding-right: 25px;
}

.title-frontpage {
    font-size: 30px;
    color: var(--amarelo);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.247);
}

.description-frontpage {
    text-align: justify;
}

.button_container{
    margin: 20px;
    display: inline-block;
    align-self: center;
}

.container-frontpage img {
    width: 300px;
    height: 300px;
}

@media (max-width: 706px) {
    .container-frontpage img {
        display: none;
    }
    .content-container {
        padding: 0;
    }
}

@media (max-width: 380px) {
    .title-frontpage {
        font-size: 25px;
    }
}