.homepage{
    display: flexbox;
    align-items: center;
    text-align: center;
}

.post{
    text-align: left;
    margin: 20px;
}

.side-profile{
    margin: 20px 5px;
}

.homepage-container{
    margin: auto;
    max-width: 900px;
    display: inline-flex;
}
