.messages-page-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.chat-miniature-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.messages-page-wrapper > .side-profile {
    margin: 0px;
}

.miniature-container {
    margin: 0 0 15px 0;
}

.no-friends-message {
    background-color: var(--amareloClaro);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin: 0px auto;
}

