.networkpage-container {
    margin: auto;
    width: 1100px;
    display: flexbox;
    align-items: center;
    text-align: center;
}

.network-container {
    background-color: var(--amareloClaro);
    min-height: 300px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.friends-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 310px;
    overflow-y: scroll;
}

.network-title {
    text-align: left;
    padding: 30px 0px 0px 30px;
}