.undo-button {
    width: 30px;
    height: 30px;
}

h2 {
    text-align: center;
}

.signup-container {
    background-color: var(--amareloClaro);
    margin: 11% auto;
    text-align: left;
    font-size: 3ex; 
    max-width: 470px;
    border-radius: 20px;
    padding: 30px;
}

.form-input {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    overflow: hidden;
    white-space: nowrap;
}

label {
    padding-right: 10px;
    width: 120px;
    display: block;
    float: left;
}

input {
    border-radius: 10px;
}

input::placeholder {
    padding-left: 10px;
    font-size: 16px;
}

.button_container{
    margin: 20px;
    display: inline-block;
}

.input_name{
    margin: 0;
}

#select-country {
    width: 410px;
    border-radius: 10px;
}

#select-language {
    width: 350px;
    border-radius: 10px;
}

 .language-input-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 410px;
} 

.add-language-button-container{
    display: inline-block;
    overflow: auto;
    width: 50px;
}

#login_input_language{
    width: 240px;
}

.add-language-button{
    width: 50px;
    border-radius: 8px;
    font-weight: bold;
    background-color: var(--amarelo);
    cursor: pointer;
}

.add-language-button:hover{
    background-color: var(--amareloClaro);
    transition-duration: 0.3s;
}

.switch-span{
    cursor: pointer;
    text-decoration: underline;
}

.error-message{
    max-width: 400px;
    font-size: 0.7rem;
    color: red;
    overflow-wrap: break-word;
    white-space: initial;
}